@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?m0xrwb');
    src: url('fonts/icomoon.eot?m0xrwb#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?m0xrwb') format('truetype'),
        url('fonts/icomoon.woff?m0xrwb') format('woff'),
        url('fonts/icomoon.svg?m0xrwb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    /* speak: never; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up-right-from-square-fill:before {
    content: "\900";
}
  
h2 {
    padding: 0.5em;
    /* color: #494949; */
    /* background: #a7a8b3; */
    border-left: solid 6px darkorange;
}
/* a{
    text-decoration: underline;
} */
hr{
    border-top: 1px solid lightgray
}
[data-md-color-scheme="slate"] {
    --md-hue: 250; 
  }
/* a[target=_blank]::after{
    font-family: 'icomoon';
    content: "\900";
} */